<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.hting.dao.tj.IUsesDao">
    <select id="findUserById" resultType="user">
        SELECT `userID`,
               `userImgPath`,
               `userName`,
               `userRealName`,
               `userSex`,
               `userPhone`,
               `contactMailbox`,
               `userMoney`,
               `userIntegral`,
               `country`,
               `provincialID`,
               `cityID`,
               `countyID`,
               `adDetail`,
               `merchantType`,
               `merchantRegistrationTime`,
               `firstServiceID`,
               `secondServiceID`,
               `firstServiceMoney`,
               `secondServiceMoney`,
               `hospitalName`,
               `shopName`,
               `signature`,
               `guaranteeMoney`,
               `shopImg`,
               `identityType`,
               `identityNumder`,
               `identityRealName`,
               `identityPositiveImg`,
               `identityNegativeImg`,
               `identityHandImg`,
               `languageNameText`,
               `majorNameText`,
               `liveCityID`,
               `merchantEmail`,
               `merchantPhone`,
               `merchantLevel`,
               `merchantExp`,
               `qq`,
               `weChat`,
               `profession`,
               `height`,
               `constellation`,
               `age`,
               `selfIntroduction`,
               `collectCount`,
               `orderCount`,
               `browseNumber`,
               `trusteeship`,
               `trusteeshipStartTime`,
               `trusteeshipMonth`,
               `businessState`,
               `experience`,
               `experienceStatus`,
               `auditStatus`,
               `auditTime`,
               `reason`,
               `authentication`,
               `authenticationer`,
               `creditScore`,
               `stateboolean`,
               `mailboxVerification`,
               `registerIP`,
               `lastEntry`,
               `userRegistrationTime`,
               `recentEntry`
        FROM `hanting1`.`user`
        where `userID` = #{0}
        LIMIT 0, 1000;
    </select>
</mapper>